@-moz-document url("shinden.pl"), url-prefix("shinden.pl"), domain("shinden.pl"), regexp("shinden.pl") {
.top-bar--user #menu-search {
    margin-top: 5px !important;
    margin-bottom: -20px !important;
}

element.style {
    border-radius: 15px !important;
}


.top-bar--user button {
    color: rgb(216, 215, 212);
    background-image: initial;
    background-color: initial;
    border-color: initial;
    display: none !important;
}


.top-bar {
    position: relative;
}

div.top-bar:after {
    content: "Themed by PoDiax";
    padding: 0px 0px 0px 100px;
    margin: 0px 0px 0px 0px;
    font-style: italic;
    vertical-align: super;
    user-select: none;
}

.fancy-bar {
    height: 2px !important;
}

body {
    background-color: #1a1a1a !important;
}

.l-container-primary,
.l-main-contantainer {
    background-color: #1a1a1a;
}

.newTitle span {
    position: relative;
    background: #1a1a1a;
    padding: 10px;
    top: 10px;
}



/* Zaogrąglanie */
.top-bar--user #menu-search label,
.top-bar--user #menu-search input,
.top-bar--user #menu-search button,
.top-bar--user #menu-search select {
    border-radius: 15px;
}

.top-bar .top-button {
    border-radius: 15px !important;
}

.top-bar {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.l-container-zero {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.logo {
    /* background-image: url(https://shinden.pl/f/skins/4/img/header.png); */
    border-radius: 15px;
}

.l-footer {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav-list > li {
    border-radius: 15px !important;
}

.nav-list-sub > li:first-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.nav-list-sub > li:last-child {
    border-bottom: 1px solid #383838;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.l-container-secondary {
    border-radius: 15px
}


.relation_t2t figcaption:last-of-type {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.relation_t2t figcaption:nth-child(2) {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.character {
    border-radius: 8px !important;
}

.staff {
    padding-right: 5px;
    border-radius: 8px !important;
}

.tags li a {
    border-radius: 15px;
}

.nav-main-sub {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.posts-last .add-post textarea {
    border-radius: 10px;
}

.av-rank {
    border-radius: 8px !important;
}

.info-aside-img {
    border-radius: 15px;
}

.active:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.button-group .button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.user-navigation li.active,
.user-navigation li.active a,
.user-navigation li:active,
.user-navigation li:focus {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.user-navigation li.active ul a:hover {
    border-radius: 15px;
}

.aside-user ul.interactions li a {
    border-radius: 15px;
}

.user-navigation li.active ul {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 0px !important;
}
.progressbar-demographic .progressbar-value {
    border-radius: 15px;
}

.progressbar-demographic-container {
    padding-bottom: 1px;
}

.progressbar-demographic {
    border-radius: 15px;
}

.media-item .media-title-cover {
    border-radius: 8px;
}

section.profile .media-title-cover img {
    border-radius: 8px;
}
.media-comment > .img {
    border-radius: 8px;
}
.comment-form textarea {
    border-radius: 15px;
}
.comment-form input[type=submit] {
    border-radius: 15px;
}

section.profile .status_bar {
    border-radius: 8px;
}

.creator-form textarea {
    border-radius: 15px;
}

.cke_top,
.cke_contents,
.cke_bottom {
    border-radius: 15px;
}

.cke_reset {
    border-radius: 15px;
}

.creator-form input,
.creator-form textarea,
.creator-form select,
.creator-form span.input {
    border-radius: 15px;
}

.user-navigation {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.button,
.button:visited {
    border-radius: 15px;
}

.achv-img {
    border-radius: 10px;
}

.media-list-user-edits textarea {
    border-radius: 10px;
}

.media-list-user-edits .media-item:nth-child(1) {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.media-list-user-edits .media-item:last-of-type {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.media-list-user-edits .img img {
    border-radius: 10px;
    border: 1px solid
}

.box-userprofile fieldset.short legend {
    border-radius: 15px;
}

body,
input,
select,
textarea {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.horizontal-form .navigation {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.box-userprofile fieldset.short {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.rewatch .media-title-cover img {
    border-radius: 10px;
}

.waifu-packet .form label {
    border-radius: 10px;
}

.data-view-article {
    border-radius: 15px;
}

.pagination ul li a:hover,
.pagination ul li a {
    border-radius: 15px;
}

.unread-news,
.unread-news .newTitle span {
    border-radius: 10px;
}

.tags-numbered a,
.inline-tags-numbered a {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
a {
    color: #d05909;
    text-decoration: none;
}

.top-button:hover + .top-bar--nav-user,
.top-bar--nav-user:hover,
.top-bar--nav-user.active {
    border-radius: 15px;
}

.top-bar .top-button img {
    border-radius: 10px;
}

.season-tile .tile-title {
    border-radius: 15px;
}

.media-title-cover {
    border-radius: 15px;
}

.seasons-list a {
    background: #162a43;
    text-decoration: none;
    border-radius: 15px;
}

.owl-carousel .owl-item img {
    border-radius: 15px;
}

/* Kolory */
.media-list-user-edits textarea {
    background-color: #1f1f1f;
    color: white;
}

.box-userprofile fieldset.short legend {
    background-color: #131313;
}

.box-userprofile fieldset.short {
    background-color: #131313;
}

.l-footer {
    background: linear-gradient(#1a1a1a, #e24000);
}

.info-top-table-highlight {
    background-color: #1f1f1f;
}
.l-container-col2 {
    background-color: #1a1a1a;
}

.info-top #description {
    background-color: #1a1a1a;
}

h1.page-title {
    background-color: #1f1f1f;
}

.info-top {
    background-color: #1a1a1a;
}

.title-other,
.episode-head {
    background-color: #1a1a1a;
}

.info-aside {
    background-color: #1e1e1e;
    border-radius: 15px;
}

.box-bottom {
    background-color: #1e1e1e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#1a1a1a));
    background-image: linear-gradient(top, #1e1e1e, #1e1e1e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#1a1a1a', EndColorStr='#1a1a1a');
}

.posts-last .add-post .buttons {
    background-color: #1a1a1a !important;
}

.posts-last .add-post textarea {
    background-color: #252525 !important;
    color: white;
}

.nav-main-sub {
    background-color: #1f1f1f;
}

.data-view-article {
    border-bottom: 1px solid #3c3c3c;
    border-top: 1px solid #3c3c3c;
}

/* Modyfikacaj układu */
.posts-last .add-post textarea {
    text-align: center;
}

.nav-list-sub {
    border-left: none;
    border-right: none;
}

.l-container-primary,
.l-main-contantainer {
    padding-top: 5px;
}

.box .box-title {
    padding-bottom: 2px;
}

.carousel-text {
    height: 323px;
    border-bottom: none;
}

.spolecznoscinet {
    display: none !important;
}
}
