/* Variables */
:root {
    --roundness-15: 15px;
    --roundness-10: 10px;
    --media-title-cover-img: 20px;
    
    /*Colors*/
    --black-light: #1a1a1a;
    --black-light-d: #1f1f1f;
    --text-color: #d05909;
    --box-user-profile: #131313;

}

.top-bar--user #menu-search {
    margin-top: 5px !important;
    margin-bottom: -20px !important;
}

element.style {
    border-radius: var(--roundness-15) !important;
}


.top-bar--user button {
    background-image: initial;
    background-color: initial;
    border-color: initial;
    display: none !important;
}


.top-bar {
    position: relative;
}

div.top-bar:after {
    content: "Themed by PoDiax";
    text-shadow: 1.5px 1px #725cef;
    padding: 0px 0px 0px 100px;
    margin: 0px 0px 0px 0px;
    font-style: italic;
    vertical-align: super;
    user-select: none;
}

.fancy-bar {
    height: 2px !important;
}

.l-container-primary,
.l-main-contantainer {
    background-color: var(--black-light);
}

.newTitle span {
    position: relative;
    background: var(--black-light);
    padding: 10px;
    top: 10px;
}


/* Zaogrąglanie */
.top-bar--user #menu-search label,
.top-bar--user #menu-search input,
.top-bar--user #menu-search button,
.top-bar--user #menu-search select {
    border-radius: var(--roundness-15);
}

.message_list li {
    border-radius: var(--roundness-15);
}

.top-bar .top-button {
    border-radius: var(--roundness-15) !important;
}

.top-bar {
    border-top-right-radius: var(--roundness-15);
    border-top-left-radius: var(--roundness-15);
}

.l-container-zero {
    border-top-right-radius: var(--roundness-15);
    border-top-left-radius: var(--roundness-15);
}

.logo {
    /* background-image: url(https://shinden.pl/f/skins/4/img/header.png); */
    border-radius: var(--roundness-15);
}

.l-footer {
    border-bottom-right-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}

.nav-list > li {
    border-radius: var(--roundness-15) !important;
}

.nav-list-sub > li:first-child {
    border-top-right-radius: var(--roundness-15);
    border-top-left-radius: var(--roundness-15);
    border-bottom-left-radius: 0px;
}

.nav-list-sub > li:last-child {
    border-bottom: 1px solid #383838;
    border-bottom-right-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}

.l-container-secondary {
    border-radius: var(--roundness-15)
}


.relation_t2t figcaption:last-of-type {
    border-bottom-right-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}

.relation_t2t figcaption:nth-child(2) {
    border-top-right-radius: var(--roundness-15);
    border-top-left-radius: var(--roundness-15);
}

.character {
    border-radius: 8px !important;
}

.staff {
    padding-right: 5px;
    border-radius: 8px !important;
}

.tags li a {
    border-radius: var(--roundness-15);
}

.nav-main-sub {
    border-radius: var(--roundness-15);
}

.posts-last .add-post textarea {
    border-radius: var(--roundness-10);
}

.av-rank {
    border-radius: 8px !important;
}

.info-aside-img {
    border-radius: var(--roundness-15);
}

.active:first-child {
    border-top-left-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}

.button-group .button:last-child {
    border-top-right-radius: var(--roundness-15);
    border-bottom-right-radius: var(--roundness-15);
}

.user-navigation li.active,
.user-navigation li.active a,
.user-navigation li:active,
.user-navigation li:focus {
    border-top-right-radius: var(--roundness-15);
    border-top-left-radius: var(--roundness-15);
    border-bottom-left-radius: 0px;
}

.user-navigation li.active ul a:hover {
    border-radius: var(--roundness-15);
}

.aside-user ul.interactions li a {
    border-radius: var(--roundness-15);
}

.user-navigation li.active ul {
    border-bottom-right-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
    border-top-left-radius: 0px !important;
}
.progressbar-demographic .progressbar-value {
    border-radius: var(--roundness-15);
}

.progressbar-demographic-container {
    padding-bottom: 1px;
}

.progressbar-demographic {
    border-radius: var(--roundness-15);
}

.media-item .media-title-cover {
    border-radius: 8px;
}

section.profile .media-title-cover img {
    border-radius: 8px;
}
.media-comment > .img {
    border-radius: 8px;
}
.comment-form textarea {
    border-radius: var(--roundness-15);
}
.comment-form input[type=submit] {
    border-radius: var(--roundness-15);
}

section.profile .status_bar {
    border-radius: 8px;
}

.creator-form textarea {
    border-radius: var(--roundness-15);
}

.cke_top,
.cke_contents,
.cke_bottom {
    border-radius: var(--roundness-15);
}

.cke_reset {
    border-radius: var(--roundness-15);
}

.creator-form input,
.creator-form textarea,
.creator-form select,
.creator-form span.input {
    border-radius: var(--roundness-15);
}

.user-navigation {
    border-top-right-radius: var(--roundness-15);
    border-top-left-radius: var(--roundness-15);
}

.button,
.button:visited {
    border-radius: var(--roundness-15);
}

.achv-img {
    border-radius: var(--roundness-10);
}

.media-list-user-edits textarea {
    border-radius: var(--roundness-10);
}

.media-list-user-edits .media-item:nth-child(1) {
    border-top-right-radius: var(--roundness-15);
    border-top-left-radius: var(--roundness-15);
}

.media-list-user-edits .media-item:last-of-type {
    border-bottom-right-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}

.media-list-user-edits .img img {
    border-radius: var(--roundness-10);
    border: 1px solid
}

.box-userprofile fieldset.short legend {
    border-radius: var(--roundness-15);
}

input,
select,
textarea {
    border-top-left-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}

.horizontal-form .navigation {
    border-bottom-right-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}

.box-userprofile fieldset.short {
    border-bottom-right-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}

.rewatch .media-title-cover img {
    border-radius: var(--roundness-10);
}

.waifu-packet .form label {
    border-radius: var(--roundness-10);
}

.data-view-article {
    border-radius: var(--roundness-15);
}

.pagination ul li a:hover,
.pagination ul li a {
    border-radius: var(--roundness-15);
}

.unread-news,
.unread-news .newTitle span {
    border-radius: var(--roundness-10);
}

.tags-numbered a,
.inline-tags-numbered a {
    border-top-left-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}
a {
    text-decoration: none;
}

.top-button:hover + .top-bar--nav-user,
.top-bar--nav-user:hover,
.top-bar--nav-user.active {
    border-radius: var(--roundness-15);
}

.top-bar .top-button img {
    border-radius: var(--roundness-10);
}

.season-tile .tile-title {
    border-radius: var(--roundness-15);
}

.media-title-cover {
    border-radius: var(--roundness-15);
}

.seasons-list a {
    text-decoration: none;
    border-radius: var(--roundness-15);
}

.owl-carousel .owl-item img {
    border-radius: var(--roundness-15);
}


.fansub-ad-info img {
    border-radius: var(--roundness-15);
    max-width: 98%;
}

.error {
    border-radius: var(--roundness-15);
}

.info {
    border-radius: var(--roundness-15);
}

.new-slider-wrapper {
    border-bottom-left-radius: var(--roundness-15);
    border-bottom-right-radius: var(--roundness-15);
}

.sliderButtons a {
    border-radius: var(--roundness-15);
}

.title-box-list .media-title-cover img {
    border-radius: var(--roundness-10);
}

audio, canvas, img, video {
    border-radius: var(--roundness-15);
}

.parent-on-hover .on-hover-button {
    border-radius: var(--roundness-15);
}

.to-watch h2 {
    border-radius: var(--roundness-15);
}

.to-watch .media-item aside a {
    border-radius: var(--roundness-15);
}

.top-bar--nav-user a, .top-bar--nav-user li {
    border-radius: var(--roundness-15);
}

.top-bar--nav-user .alerts-cnt, .top-bar--nav-user .sprite, .top-button--user .alerts-cnt, .top-button--user .sprite {
    border-radius: var(--roundness-15);
}

.form-login {
    border-radius: var(--roundness-15);
}

h1.page-title {
    border-top-left-radius: var(--roundness-15);
    border-top-right-radius: var(--roundness-15);
}

/* May be removed */
input, select, textarea {
    border-top-left-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
    border-top-right-radius: var(--roundness-15);
    border-bottom-right-radius: var(--roundness-15);
}

/* Colors */
.top-bar--user button {
    color: rgb(216, 215, 212);
}

.top-bar{
    background-color: rgba(0,0,0,0.6);
}


body {
    background-color: var(--black-light) !important;
}

.l-container-primary,
.l-main-contantainer {
    background-color: var(--black-light);
}

.newTitle span {
    background: var(--black-light);
}

a {
    color: var(--text-color);
}

.seasons-list a {
    background: #162a43;
}

.media-list-user-edits textarea {
    background-color: var(--black-light-d);
    color: white;
}

.box-userprofile fieldset.short legend {
    background-color: var(--box-user-profile);
}

.box-userprofile fieldset.short {
    background-color: var(--box-user-profile);
}

.l-footer {
    background: linear-gradient(var(--black-light), #e24000);
}

.info-top-table-highlight {
    background-color: var(--black-light-d);
}
.l-container-col2 {
    background-color: var(--black-light);
}

.info-top #description {
    background-color: var(--black-light);
}

h1.page-title {
    background-color: var(--black-light-d);
}

.info-top {
    background-color: var(--black-light);
}

.title-other,
.episode-head {
    background-color: var(--black-light);
}

.info-aside {
    background-color: #1e1e1e;
    border-radius: var(--roundness-15);
}

.box-bottom {
    background-color: #1e1e1e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--black-light)), to(var(--black-light)));
    background-image: linear-gradient(top, #1e1e1e, #1e1e1e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='var(--black-light)', EndColorStr='var(--black-light)');
}

.posts-last .add-post .buttons {
    background-color: var(--black-light) !important;
}

.posts-last .add-post textarea {
    background-color: #252525 !important;
    color: white;
}

.nav-main-sub {
    background-color: var(--black-light-d);
}

.data-view-article {
    border-bottom: 1px solid #3c3c3c;
    border-top: 1px solid #3c3c3c;
}

.info-messages-box {
    background-color: var(--black-light);
}

.owl-next:hover, .owl-prev:hover {
    background-color: rgb(57 57 57 / 77%);
}

/* Layout */
h1.page-title {
    margin-top: 4px;
}

.posts-last .add-post textarea {
    text-align: center;
}

.message_list li {
    margin-top: 4px;
}

.nav-list-sub {
    border-left: none;
    border-right: none;
}

.l-container-primary,
.l-main-contantainer {
    padding-top: 5px;
}

.box .box-title {
    padding-bottom: 2px;
}

.carousel-text {
    height: 323px;
    border-bottom: none;
}

.spolecznoscinet {
    display: none !important;
}

/* Animations */

.button, 
.info-aside-img,
.title-cover{
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(0.95);
}

.info-aside-img:hover {
    transform: scale(1.02);
}

.flag-icon{
    transition: all .2s ease-in-out;
}

.flag-icon:hover {
    transform: scale(1.2);
}

.media .img,
.box-title .icon, .themed-icon {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

.title-box-list .media-title-cover img {
    transition: all .2s ease-in-out;
}

.title-box-list .media-title-cover:hover img {
    border-radius: var(--media-title-cover-img);
    transform: scale(1.05);
}

dl.info-aside-list dd{
    transition: all .2s ease-in-out;
}

dl.info-aside-list:hover dd:hover {
    transform: scale(1.2);
}

.ep-online-added {
    transition: all .2s ease-in-out;
}

.ep-online-added:hover {
    transform: scale(1.2);
}


/*Bell Animation by Mrshcom*/
.fa-bell:before {
     transition: all .2s ease-in-out;
}
.fa-bell:hover {
  -webkit-animation: ring 4s .1s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .1s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .1s ease-in-out infinite;
  transform-origin: 50% 4px;
}
@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}
@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}
@keyfrzmes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

/* Waifu */

.waifu-packet .form input[type=radio] {
    cursor: pointer;
}

.waifu-packet .form .submit-row button {
    padding: .6em;
    border-radius: var(--roundness-15);
    border: 0;
}

.waifu-packet .form .submit-row {
    text-align: -webkit-center;
    background-color: hsl(145, 61%, 59%);
    padding: .2rem;
    border-radius: var(--roundness-15);
}

.waifu-packet .achv h2.big {
    text-align: -webkit-center;
}

.waifu-packet h2 {
    text-align: -webkit-center;
}

.waifu-packet .modal-layer .modal-body {
    border-top-left-radius: var(--roundness-15);
    border-bottom-left-radius: var(--roundness-15);
}
